header {
    background-color: #344880;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 150%;
}
nav {
    background-color: #B4C8FF;
    text-align: center;
    color: white;
}
body {
    background-color:  #344880;
}

div.a {
    text-align: left;
    width: 400px;
    color: white;
}
div.b {
    text-align: right;
    color: white;
}
div.c {
    text-align: left;
    color: white;
}
.rice {
    float: right;
    margin-right: 10px;
}