header {
    background-color: #344880;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 150%;
}
nav {
    background-color: #B4C8FF;
    text-align: center;
    color: white;
}
body {
    background-color: #B4C8FF;
}

div.a {
    width: 150px;
    text-align: inherit;
}
div.b {
    width: 150px; 
    text-align: center;
}
div.c {
    width: 150px;
}