ody {
    background-color:rgb(196, 231, 255);
}

header, footer {
    background-color: rgb(31, 30, 30);
    color: rgb(39, 68, 231);
    text-align: center;
}

li {
    border: solid white 1px;
    display: inline-block;
    padding: 10px;
    margin: 5px 40px;
    background-color: rgb(66, 64, 64);
    color:inherit;
    text-decoration: none;
}

section {
    background-color: darkgray;
    border: 1px blue solid;
    margin: 10px 0px;
    
}

img {
    border: solid black 1px;
    margin: 10px;
    text-align: center;
}

#a {
    width: 300px;
}

#b, #c {
    height: 200px;
}

.rice{
    border-radius: 20px;
}

p {
    border: solid black 1px;
    display: inline-block;
    width: 700px;
    margin-top: auto;
    padding: 5px;
}

a {
    color: rgb(62, 59, 216);
}
body {
    background-color:  #344880;
}
nav {
    background-color: #B4C8FF;
    text-align: center;
    color: white;
}
div.a {
    color: white;
}
div.b {
    color: white;
}
div.c {
    color: white;
}
button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: #B4C8FF;
    border: none;
  }
  button:hover {
    background: #B4C8FF;
  }
  input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid black;
  }